.DS_Store
.thumbs.db
node_modules

# Quasar core related directories
.quasar
/dist

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# BEX related directories and files
/src-bex/www
/src-bex/js/core

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
/yarn.lock
/token
/settings.json
/executions.json

/migasfree-play-dbgsym_2.0.0_amd64.ddeb
/migasfree-play_2.0.0.dsc
/migasfree-play_2.0.0.tar.xz
/migasfree-play_2.0.0_amd64.build
/migasfree-play_2.0.0_amd64.buildinfo
/migasfree-play_2.0.0_amd64.changes
/migasfree-play_2.0.0_amd64.deb
/packaging/rpm/rpmbuild/*
/.env
/migasfree-play-dbgsym_5.0.0_amd64.ddeb
/migasfree-play_5.0.0.dsc
/migasfree-play_5.0.0.tar.xz
/migasfree-play_5.0.0_amd64.build
/migasfree-play_5.0.0_amd64.buildinfo
/migasfree-play_5.0.0_amd64.changes
/migasfree-play_5.0.0_amd64.deb
/migasfree-play_5.1.0.dsc
/migasfree-play_5.1.0.tar.xz
/migasfree-play_5.1.0_amd64.build
/migasfree-play_5.1.0_amd64.buildinfo
/migasfree-play_5.1.0_amd64.changes
/migasfree-play_5.1.0_amd64.deb
/migasfree-play-dbgsym_5.1.0_amd64.ddeb
