.DS_Store
.thumbs.db
node_modules
.github

# Quasar core related directories
.quasar
/dist
/quasar.config.*.temporary.compiled*

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# BEX related directories and files
/src-bex/www
/src-bex/js/core

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
/yarn.lock
/token
/settings.json
/executions.json
/.env

/migasfree-play-dbgsym_*_amd64.ddeb
/migasfree-play_*.dsc
/migasfree-play_*.tar.xz
/migasfree-play_*_amd64.build
/migasfree-play_*_amd64.buildinfo
/migasfree-play_*_amd64.changes
/migasfree-play_*_amd64.deb

/packaging/rpm/rpmbuild/*
/packaging/debian/migasfree-play
