Source: migasfree-play
Section: utils
Priority: optional
Maintainer: Jose Antonio Chavarría <jachavar@gmail.com>
Build-Depends: debhelper (>= 8.0.0), devscripts
Standards-Version: 4.1.4
Homepage: https://github.com/migasfree/migasfree-play

Package: migasfree-play
Architecture: any
Section: admin
Depends: migasfree-client (>= 4.20), sudo, bash, cron, curl, util-linux, nodejs (>= 18)
Description: Desktop graphical interface for Migasfree
 Enables end-users to securely manage software catalogs, devices, and client synchronization.
