// app global css in SCSS form
.body--light header {
  background-color: $secondary;
}

.text-mono {
  font-family: 'Ubuntu Mono', monospace;
}

.body--dark {
  --q-color-primary: #29A9F4;

  header {
    background-color: $blue-grey-10;
  }
}

.overflow {
  min-height: 6em;
  max-height: 25em;
  overflow: auto;
}
