// app global css in SCSS form
@import './animations.scss';
.body--light {
  background-color: #f2f2f7;

  header {
    background-color: $secondary;
  }
}

.text-mono {
  font-family: 'Ubuntu Mono', monospace;
}

.body--dark {
  --q-color-primary: #29a9f4;

  header {
    background-color: $blue-grey-10;
  }
}

.overflow {
  min-height: 6em;
  max-height: 25em;
  overflow: auto;
}
