// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #431407;
$secondary: #8d7772;
$accent: #feda00;

$dark: #3a4149;
$dark-page: #2f353a;
$separator-dark-color: #21282c;

$positive: #166534;
$negative: #dc2626;
$info: #1e40af;
$warning: #a16207;

$typography-font-family: 'Dosis', sans-serif !default;
$body-font-size: 16px !default;
$tooltip-fontsize: 14px;
