name: NodeJS with Webpack

on:
  push:
    branches: ['master']
  pull_request:
    branches: ['master']

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x, 24.x]

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: |
          yarn

      - name: Validate code
        run: |
          yarn lint
          yarn format:check

      - name: Build Debian package
        run: |
          sudo apt-get update
          sudo apt-get install -y devscripts
          yarn build
          cd packaging
          DEB_BUILD_OPTIONS=noautodbgsym debuild --no-lintian --no-tgz-check -us -uc

      - name: Build RPM package
        run: |
          # sudo apt-get install -y rpm
          yarn build
          cd packaging/rpm
          ./create-package
